{% extends 'layout.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block subBody %}
	{{ include('_flash_messages.html.twig') }}
	<h1 class="mt-5">Modifier la catégorie</h1>

	{{ include('category/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}

	<a href="{{ path('app_category_index') }}" class="btn btn-success me-2">Retour à la liste</a>

	{{ include('category/_delete_form.html.twig') }}

{% endblock %}
