{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1 class="mt-5">Créer une catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}" class="btn btn-success me-2">Retour à la liste</a>

{% endblock %}
