{% extends 'base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block body %}
   <h1 class="mt-5">Modifier une commande	</h1>

    {{ include('order/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('app_order_index') }}" class="btn btn-primary me-2">Retour a la liste</a>

    {{ include('order/_delete_form.html.twig') }}
{% endblock %}
