{% extends 'layout.html.twig' %}
{% block title %}Nouvelle commande{% endblock %}

{% block subBody %}
  <h1 class="mt-5">Ajouter une commande</h1>

    {{ include('order/_form.html.twig') }}

    <a href="{{ path('app_order_index') }}"class="btn btn-success me-2">Retour à la liste</a>
{% endblock %}
