{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
        <div class="row">
            <h2 class=" text-center fw-normal text-dark">La page que vous demandez n'existe pas<br>ou vous n'êtes pas autorisé-e à y accéder</h2>
            <img class="d-block col-8 mx-auto" src="{{ asset('asset/images/cloture-bois-champ.jpg') }}" alt="Photo d'une clôture en bois barrant l'entrée d'un champ">     
        </div>
	</div>
{% endblock %}
