{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
  <h1 class="mt-5">Creer un nouveau paiement
	</h1>

    {{ include('payment/_form.html.twig') }}

{% endblock %}