{% extends 'base.html.twig' %}

{% block title %}Nouveau paiement{% endblock %}

{% block body %}
  <h1 class="mt-5">Ajouter un paiement</h1>

    {{ include('payment/_form.html.twig') }}

{% endblock %}